* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  height: 70px;

  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
 
}
.nav--logo {
  max-width: 100px;
}

.hero-box {
  width: 66%;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  
}

.hero-box .hero-img {
  width: 100%;
}

.hero-header {
  margin-bottom: 16px;
}

.hero-text {
  font-weight:lighter;
  font-size: 14px;
}

.online-experience-box {
  width: 76%;
  margin: 0 auto;
  padding: 36px 10px;
  display: flex;
  justify-content: space-between;
}

.experience-box {
  /* border: 2px solid darkcyan; */
  width: 26%;
  position: relative;
}

.experience-box:hover {
     cursor: pointer;
}

.experices-img {
  border-radius: 9px;
  width: 100%;
}

.rating-para {
  font-size: 12px;
  color: #222222;
  margin-left: 6px;
  line-height: 110%;
}

.country-spn {
  color: #918e9b;
}

.lesson-para {
  font-size: 12px;
  color: #222222;
  font-weight: lighter;
  line-height: 260%;
  font-style: normal;
}

.price-para {
  color: #222222;
  font-size: 12px;
}

.person-spn {
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
}


.sold-badge {

    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}